.banner {
  min-height: 290px;
  margin: 35px 20px;
  background: @index-green;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 43px;
  box-sizing: border-box;
  position: relative;
}

.banner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 290px;
  background: url("../img/catalog/gift_banner-small.png");
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-resolution: 2dppx) {
  .banner::before {
    background: url("../img/catalog/gift_banner-small@2x.png");
    background-size: 100% auto;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    min-height: 200px;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 80px;
  }

  .banner::before {
    height: 200px;
    background: url("../img/catalog/gift_banner-medium.png");
  }

  @media (min-resolution: 2dppx) {
    .banner::before {
      background: url("../img/catalog/gift_banner-medium@2x.png");
      background-size: 100% auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .banner {
    width: 245px;
    margin: 0;
    height: 289px;
  }

  .banner::before {
    height: 289px;
    background: url("../img/catalog/gift_banner-big.png");
  }

  @media (min-resolution: 2dppx) {
    .banner::before {
      background: url("../img/catalog/gift_banner-big@2x.png");
      background-size: 100% auto;
    }
  }
}

.banner__offer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.banner__offer::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background: url("../img/catalog/icon_gift.svg");
  bottom: 120px;
  left: calc(50% - 39px);
}

@media (min-width: @tablet-width) {
  .banner__offer {
    text-align: left;
    width: 100%;
    padding-left: 58%;
  }

  .banner__offer::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 83px;
    bottom: 0;
    left: 12%;
    right: auto;
  }
}

@media (min-width: @desktop-width) {
  .banner__offer {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
  }

  .banner__offer::before {
    width: 80px;
    height: 83px;
    bottom: 120px;
    left: 35%;
  }
}
