.cat-info {
  width: 100%;
  box-sizing: border-box;
}

.cat-info__wrapper {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.cat-info__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  flex-shrink: 0;
}

.cat-info__name,
.cat-info__weight,
.cat-info__age {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  border: 1px solid @special-grey;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  box-sizing: border-box;
  margin-left: 15px;
  width: 100%;
}
