.cat-owner {
  padding: 0;
  margin-top: 26px;
  box-sizing: border-box;
}

.cat-owner__inner {
  margin-top: 35px;
}

.cat-owner__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cat-owner__wrapper:last-child {
  margin-bottom: 0;
}

.cat-owner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  display: inline-block;
  width: 190px;
}

.cat-owner__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  flex-shrink: 0;
}

.cat-owner__email,
.cat-owner__phone {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  border: 1px solid @special-grey;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
  box-sizing: border-box;
  margin-left: 11px;
  width: 100%;
}
