.comments {
  box-sizing: border-box;
  margin-top: 20px;
}

.comments__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  margin-bottom: 40px;
  padding-right: 20px;
}

.comments__message {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  border: 1px solid @special-grey;
  width: 100%;
  min-height: 150px;
  padding-top: 11px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
