.map__wrapper {
  background: @grey;
}

.map__wrapper--index {
  background: @white;
}

.map__contacts {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px 26px 20px;
}

.map__location {
  background-image: url("../img/map_small.png");
  background-position: top center;
  background-repeat: no-repeat;
  height: 362px;
}
