.nutrition-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 38px;
}

.nutrition-list__item {
  display: flex;
  margin-bottom: 16px;
}

.nutrition-list__item img {
  width: 60px;
  height: 60px;
  background: @green;
}

.nutrition-list__item p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  padding: 0;
  margin: 0;
  order: 2;
  margin-left: 20px;
  margin-top: 2px;
}
