.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @black;
  text-align: left;
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  border-top: 1px solid @title-grey;
  border-bottom: 1px solid @title-grey;
}

.page-main__title--form {
  border-bottom: none;
  padding-bottom: 0;
}
