.products {
  padding-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .products {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .products {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}

@media (min-width: @tablet-width) {
  .products__list {
    grid-template-columns: repeat(auto-fill, 324px);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
}

@media (min-width: @desktop-width) {
  .products__list {
    grid-template-columns: repeat(auto-fill, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }
}
