.program-target {
  width: 100%;
  border: none;
  padding: 20px 0;
  margin: 0;
  margin-top: 26px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .program-target {
    margin-top: 53px;
    border: none;
    padding: 20px 0;
  }
}

.program-target__list {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .program-target__list {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    border: 1px solid @special-grey;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .program-target {
    width: calc(50% - 40px);
    padding: 0;
    margin: 0;
  }
}

.program-target__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .program-target__label {
    font-size: 20px;
    line-height: 24px;
  }
}
