.program {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .program {
    background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
    background-repeat: no-repeat;
  }

  .program::before {
    content: "";
    width: 100%;
    height: 302px;
    background: url("../img/main-page/cat-background-small.png");
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
  }

  @media (min-resolution: 2dppx) {
    .program::before {
      background: url("../img/main-page/cat-background-small@2x.png");
      background-size: 100% auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .program {
    align-items: flex-start;
    position: relative;
    padding: 0 30px;
    margin-top: 47px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: 1060px;
    margin: 0 auto;
    z-index: 2;
    margin-top: 0;
    flex-direction: row;
    display: flex;
  }
}

.program__wrapper {
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .program__wrapper {
    padding-left: 90px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .program__wrapper {
    padding-left: 0;
    margin: 0;
    margin-top: 106px;
  }
}

.program__description {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @white;
  text-align: center;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .program__description {
    width: 500px;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 41px;
  }
}

.program__offer {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .program__offer {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }
}

.program__img {
  margin: 0 auto;
  margin-top: 30px;
  width: 280px;
  height: 270px;
}

@media (min-width: @tablet-width) {
  .program__img {
    margin-top: 20px;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .program__img {
    width: 552px;
    height: 499px;
    display: flex;
    position: absolute;
    top: 5px;
    left: calc(50% - 160px);
    right: auto;
  }
}

.program__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;
  width: 100%;
  background: @basic-green;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  cursor: pointer;
}

.program__button:hover {
  background: @green;
}

.program__button:active,
.program__button:focus {
  background: @green;
  color: @active-white;
}

@media (min-width: @tablet-width) {
  .program__button {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 231px;
    left: 120px;
    width: auto;
    padding: 0 26px;
    min-height: 54px;
  }
}

@media (min-width: @desktop-width) {
  .program__button {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 337px;
    left: 30px;
  }
}
