.range-items {
  position: relative;
  display: block;
  width: 100%;
  height: 240px;
  left: -8px;
}

@media (min-width: @tablet-width) {
  .range-items {
    height: 517px;
    left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .range-items {
    left: -77px;
  }
}

.range-items__item {
  position: absolute;
  width: 100%;
  height: 240px;
}

@media (min-width: @tablet-width) {
  .range-items__item {
    height: 517px;
  }
}

@media (min-width: @tablet-width) {
  .range-items__img {
    width: 541px;
    height: 517px;
  }
}

.range-items__item--before {
  display: block;
}

.range-items__item--mixed {
  display: none;
}

@media (min-width: @tablet-width) {
  .range-items__item--mixed {
    display: block;
  }
}

.range-items__item--after {
  display: none;
}
