.range-items {
  position: relative;
  display: block;
  height: 232px;
}

@media (min-width: @tablet-width) {
  .range-items {
    height: 511px;
  }
}

.range-items__item {
  position: absolute;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .range-items__item {
    height: 511px;
  }
}

@media (min-width: @tablet-width) {
  .range-items__img {
    display: block;
    margin: 0 auto;
  }
}

.range-items__item--before {
  display: block;
}

.range-items__item--before .range-items__img {
  width: 280px;
  height: 232px;
}

@media (min-width: @tablet-width) {
  .range-items__item--before .range-items__img {
    width: 592px;
    height: 511px;
  }
}

@media (min-width: @desktop-width) {
  .range-items__item--before .range-items__img {
    margin-top: 15px;
    margin-left: -12px;
  }
}

.range-items__item--after {
  display: none;
}

.range-items__item--after .range-items__img {
  width: 243px;
  height: 242px;
}

@media (min-width: @tablet-width) {
  .range-items__item--after .range-items__img {
    width: 592px;
    height: 511px;
  }
}
