.related-products-list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.related-products-list__item {
  padding: 13px 0 18px;
  box-sizing: border-box;
  border-bottom: 1px solid @example-grey;
}

.related-products-list__item:first-child {
  padding: 13px 0 18px;
  box-sizing: border-box;
  border-bottom: 1px solid @example-grey;
  border-top: 1px solid @example-grey;
}

.related-products-list__item h3 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @special-black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
