.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid @direction-grey;
  border-bottom: 1px solid @direction-grey;
  margin-top: 32px;
}

.social-list__item {
  width: 50px;
  height: 50px;
  margin: 6px 3px 5px 0;
  padding: 0;
}

.social-list__link {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
